body {
    background-color: blanchedalmond;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 23vw;
    border: 1px solid grey;
    padding: 2%;
    margin: 0 auto;
}

label {
    margin-top: 2%;
}

.check {
    appearance: none;
    width: 10px;
    height: 10px;
    background-color: blueviolet;
    border-radius: 1px;
}

.check:checked {
    background-color: forestgreen;
}

button {
    background-color: bisque;
}

button:hover {
    background-color: blue;
}

input[type="file"] {
   display: none;
}

.label-input-file {
    background-color: blanchedalmond;
}

input {
    height: 1.5rem;
}


input::placeholder {
    color: green;
}


#email {
    border: none;
    margin: 2% 0;
    background-color: transparent;
    border-bottom: 2px solid black;
}