@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
    font-family: 'Roboto Mono', monospace;
    color: rgb(41, 13, 13);
    background: rgba(61, 61, 61, 0.421);
    /* background: linear-gradient(90deg, rgba(142,153,251,1) 16%, rgba(226,118,240,1) 49%, rgba(81,89,223,1) 100%); */
    background-image: url('./img/pexels-johannes-plenio-1423600.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: multiply;
}

header {

}


.cat-avatar {
    width: 200px;
    height: 200px;
  
    /* border-color: red;
    border-style: dashed;
    border-width: 2px; */
    border: 2px dashed red;    
    border-radius: 50%;
    /*
    solid - суцільна лінія
    dashed - пунктир
    dotted - точки
    double - подвійна
    groove - об'ємна рамка
    */

    /*
    object-fit: cover; --- елемент зберігає пропорції, але "обрізає" зайве
    object-position: right; --- позиція картинки така, щоб захопити все справа
    */
}

.cat-name {
    display: inline
}

.cat-position {
    display: block;
}

span {
    color: blue;
}