@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}


/* Header */

.site-header {
    width: 100%;
    position: fixed;
    top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
    padding: 0 2%;
    box-sizing: border-box;
    z-index: 5;
}

.hamburger-icon {
    display: none;
}


.logo {
    width: 65px;
    height: 65px;
}


a {
    color: inherit;
    text-decoration: none;
}

.menu-list {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu-item {
    margin: 0 1em;
}


.menu-button {
padding: 0.6em 1.5em;
background-color: #7AE5FD;
border-radius: 20px;
text-transform: uppercase;
}

.first-screen {
    width: 100vw;
    height: 100vh;
    background-color: #F1FDFF;
}



/*
First screen
*/

.first-screen {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
    align-items: center;
}

.heading-first-screen {
    font-size: 6.5rem;
    color: #9AD2DE;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: -2%;
}

.first-screen-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    margin-left: 3%;
}

.subheading-first-screen {
    font-size: 1.5rem;
    width: 80%;
    margin-top: 8%;
}

.woman-first-screen {
    width: 70%;
    height: 100%;
    position: absolute;
    right: 0;
    bottom: 5%;
    z-index: 2;
    object-fit: cover;
}

.kryvulina {
    position: absolute;
    bottom: -5%;
    right: 0;
    width: 50%;
    z-index: 1;
}



@media screen and (max-width: 390px) {
    .logo {
        display: none;
    }

    .menu-list {
        display: none;
    }

    .hamburger-icon {
        display: block;
        width: 60px;
    }

    .site-header {
        justify-content: flex-end;
    }

    .heading-first-screen {
        font-size: 2rem;
    } 

    .subheading-first-screen {
        font-size: 1rem;
        width: 100%;
    }

    .first-screen-wrapper {
        max-width: none;
    }

    .first-screen {
    flex-direction: column;
    justify-content: space-evenly;
    }

    .woman-first-screen {
        position: relative;
        width: 100%;
        height: 50%;
    }

    .kryvulina {
        display: none;
    }
}