@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

.site-header {
    width: 100%;
    position: fixed;
    top: 0px;
}




.logo {
    width: 65px;
    height: 65px;
}

nav {
    display: inline-block;
}

a {
    color: inherit;
    text-decoration: none;
}

.menu-list, .menu-item {
    display: inherit;
    font-size: 20px;
}


.menu-button {
padding: 0.6em 1.5em;
background-color: #7AE5FD;
border-radius: 20px;
text-transform: uppercase;
}

.first-screen {
    width: 100vw;
    height: 100vh;
    background-color: #F1FDFF;
}